body {  
    background: black;
    font-family: "Poppins", sans-serif;
    margin-left: 60px;
  }
  
  a {
    color: /*#096b72*/ #14c8ce;
    text-decoration: none; /* no underline */
  }
  #parent{
    display: grid;
    grid-template-columns: 30% 65%; 
    grid-template-rows: 100%;
    grid-column-gap: 11px;
    
  }
  #KPIs{
    width: 10px;
    /*grow to rest of container*/
    background: lightgreen;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .main-content {
    display: grid;
    width: 750px;
    grid: 100px 80px 160px 100px 120px/80px 80px repeat(2, 1fr) 75px 75px 2fr;
    border: 4px solid /*#096b72*/ #14c8ce;
    border-width: 4px 0 0 4px;
    position: relative;
    background: rgb(68, 67, 67);
    margin-top: 0px;
    margin-bottom: 128px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .main-content > div {
    position: relative;
  }
  .main-content > .door-hor {
    top: -4px;
    left: 15px;
  }
  
  .office {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    border: 7px solid /*#096b72*/ #14c8ce;
    height: 131.5%;
    width: 187%;
    border-width: 0 4px 4px 0;
    background: rgb(68, 67, 67);
  }
  .office .door-hor {
    top: 208px;
    left: 93px;
    transform: rotate(180deg);
  }
  .office .window-ver{
      position: absolute;
      right: 146px;
      top: 20%;
      height: 140px;
      border: 2px solid /*#096b72*/ #14c8ce;
      width: 6px;
      background: #e2f0f1;
  }
  .office .table{
    width: 90px;
    height: 15px;
    top: 0%;
    right: 25px;
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
    transform: rotate(180deg);
  }
  
  .kitchen {
    grid-row: 1 / span 2;
    grid-column: 3 / span 2;
    height: 134%;
    border: 4px solid /*#096b72*/ #14c8ce;
    border-width: 0 4px 0 0;
    background: rgb(68, 67, 67);
  }
  .kitchen .window-hor {
    left: 66px;
  }
  .kitchen .island {
    position: absolute;
    width: 100px;
    height: 45px;
    border: 2px solid /*#096b72*/ #14c8ce;
    top: 100px;
    left: 50px;
    background: rgb(68, 67, 67);
  }
  .kitchen .island:before, .kitchen .island:after,
  .kitchen .island .chair {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: -35px;
    border-radius: 50%;
    border: 2px solid /*#096b72*/ #14c8ce;
    left: 5px;
  }
  .kitchen .island:after {
    left: 38px;
  }
  .kitchen .island .chair {
    left: 70px;
  }
  .kitchen .rug {
    width: 40px;
    height: 40px;
    top: 50px;
    right: 45px;
  }
  .kitchen .ref {
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
    top: 98px;
    width: 35px;
    height: 33px;
    left: 178px;
  }
  .kitchen .lavadora {
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
    top: -2px;
    width: 43px;
    height: 40px;
    left: -9px;
  }
  .kitchen .lavaplatos {
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
    top: -2px;
    width: 34px;
    height: 40px;
    left: 36px;
  }
  .kitchen .horno {
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
    top: -2px;
    width: 39px;
    height: 40px;
    right: 101px;
  }
  .kitchen .bordes-stove {
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
    top: -2px;
    width: 62px;
    height: 40px;
    right: 37px;
  }
  .kitchen .stove {
    position: absolute;
    width: 54px;
    height: 32px;
    border: 2px solid /*#096b72*/ #14c8ce;
    right: 2px;
    top: 2px;
  }
  .kitchen .stove:before, .kitchen .stove:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 5px;
    border-radius: 50%;
    border: 2px solid /*#096b72*/ #14c8ce;
    left: 5px;
  }
  .kitchen .stove:after {
    right: 5px;
    left: auto;
  }
  .kitchen .microwave {
    position: absolute;
    right: -1px;
    border: 2px solid /*#096b72*/ #14c8ce;
    border-width: 2px 2px 0px 2px;
    top: -2px;
    width: 35px;
    height: 43px;
  }
  .kitchen .sink {
    position: absolute;
    right: -1px;
    border: 2px solid /*#096b72*/ #14c8ce;
    border-width: 0px 2px 2px 2px;
    top: 43px;
    width: 35px;
    height: 55px;
  }
  .kitchen .sink .sink-tap-1,
  .kitchen .sink .sink-tap-2 {
    position: absolute;
    width: 19px;
    height: 15px;
    border: 2px solid /*#096b72*/ #14c8ce;
    right: 8px;
    bottom: 27px;
    border-radius: 4px;
  }
  .kitchen .sink .sink-tap-2 {
    bottom: 10px;
    height: 10px;
  }
  .kitchen .sink .sink-tap-2:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    border: 1px solid /*#096b72*/ #14c8ce;
    right: -8px;
    top: -6px;
  }

  .kitchen .door-ver:nth-child(1) {
    left: 12px;
    bottom: -6px;
    transform: rotate(90deg) scaleX(-1) scaleY(-1);
  }

  .kitchen .door-ver:nth-child(2) {
    left: 185px;
    bottom: 10px;
    transform: scaleX(-1) scaleY(-1);
  }
  
  .bathroom-2 {
    grid-column: 5 / span 2;
    border: 4px solid /*#096b72*/ #14c8ce;
    border-width: 0 0 4px 0px;
    background: rgb(68, 67, 67);
  }
  .bathroom-2 .rug {
    width: 45px;
    height: 25px;
    top: 45%;
    left: 25px;
    transform: rotate(-40deg);
    z-index: 20;
  }
  .bathroom-2 .door-hor {
    bottom: -4px;
    left: 40px;
    transform: rotate(180deg);
  }
  .bathroom-2 .window-hor {
    left: 30px;
  }
  .bathroom-2 .toilet {
    left: auto;
    right: 8px;
  }
  .bathroom-2 .vanity {
    bottom: auto;
    top: -2px;
    width: 50px;
  }
   
  .bedroom-2 {
    grid-column: 7 / span 1;
    grid-row: 1 / span 2;
    border: 4px solid /*#096b72*/ #14c8ce;
    border-width: 0 4px 4px;
    background: rgb(68, 67, 67);
  }
  .bedroom-2 .door-ver {
    left: -4px;
    bottom: 10px;
    transform: scaleY(-1);
  }
  .bedroom-2 .window-hor {
    left: 45px;
    width: 120px;
  }
  
  .living-room {
    grid-column: 5 / span 3;
    grid-row: 3 / span 1;
    border: 4px solid /*#096b72*/ #14c8ce;
    border-width: 0 4px 0 0;
    height: 103%;
    background: rgb(68, 67, 67);
  }
  .living-room .door-ver:nth-child(1) {
    transform: scaleX(-1) rotate(90deg);
    left: 93px;
    top: -9px;
  }
  .living-room .door-ver:nth-child(2) {
    right: 260px;
    bottom: -67px;
    transform: scaleX(-1) rotate(180deg);
  }
  .parte-abajo {
    border: 4px solid /*#096b72*/ #14c8ce;
    border-width: 0 0 4px 0;
    top: 455px;
    left: 74px;
    width: 100%;
    height: 1%;
  }
  
  .bedroom-1 {
    grid-column: 1 / span 4;
    grid-row: 4 / span 2;
    border: 4px solid /*#096b72*/ #14c8ce;
    border-width: 4px 4px 4px 0;
    background: rgb(68, 67, 67);
  }
  .bedroom-1 .rug {
    left: 20%;
    top: 20%;
    height: 150px;
  }
  .bedroom-1 .door-hor {
    top: -4px;
    left: 288px;
    transform: scaleX(-1);
  }
  .bedroom-1 .window-hor {
    left: 30px;
    top: auto;
    bottom: -6px;
    width: 200px;
  }
  .bedroom-1 .bed {
    height: 100px;
    width: 170px;
    transform: scaleX(-1);
    left: -2px;
    top: 70px;
  }
  .bedroom-1 .bed .pillow {
    height: 35px;
    top: 8px;
    right: 15px;
  }
  .bedroom-1 .bed .pillow:nth-child(3) {
    bottom: 8px;
    top: auto;
  }
  .bedroom-1 .bed-table {
    width: 25px;
    height: 25px;
    top: 37px;
    right: auto;
    left: -2px;
  }
  .bedroom-1 .bed-table:nth-child(5) {
    top: auto;
    bottom: 5px;
    width: 25px;
    height: 25px;
  }
  
  .bathroom-1 {
    grid-column: 4 / span 2;
    grid-row: 5 / span 1;
    z-index: 2;
    border: 4px solid /*#096b72*/ #14c8ce;
    background: rgb(68, 67, 67);
    width: 95.3%;
  }
  .bathroom-1 .door-ver:nth-child(1) {
    left: -4px;
    bottom: 10px;
    transform: scaleY(-1);
  }
  .bathroom-1 .door-ver:nth-child(2) {
    right: 5px;
    bottom: 77px;
    transform: rotate(90deg);
  }
  .bathroom-1 .window-hor {
    top: auto;
    bottom: -6px;
    right: 30px;
  }
  .bathroom-1 .rug {
    width: 50px;
    height: 20px;
    top: 55px;
    left: 100px;
    z-index: 20;
  }
  
  .pasillo1 {
    grid-row: 3 / span 1;
    grid-column: 3 / span 3;
    border: 4px solid /*#096b72*/ #14c8ce;
    border-width: 4px 0 0 0;
    top: 58px;
    right: 160px;
    width: 128.8%;
    height: 61%;
    background: rgb(68, 67, 67);
  }
  .pasillo1 .door-ver {
    left: -1%;
    top: 5%;
  }
  .pasillo1 .door-ver:nth-child(2) {
    left: -1%;
    top: 50%;
    transform: scaleY(-1);
  }

  .pasillo2 {
    border: 4px solid /*#096b72*/ #14c8ce;
    border-width: 4px 0 0 4px;
    top: 76px;
    left: 371px;
    width: 94%;
    height: 328%;
  }
  
  .patio {
    grid-row: 4 / span 2;
    grid-column: 7 / span 1;
    margin-top: 4px;
    position: relative;
  }
  .patio:before {
    content: "";
    width: 140%;
    height: 4px;
    background: /*#096b72*/ #14c8ce;
    bottom: 50%;
    left: -21%;
    transform: rotate(-44deg);
    position: absolute;
  }

  .patio .real-patio {
    width: 139%;
    height: 162px;
    position: absolute;
    z-index: 0;
    transform: rotate(-44deg);
    bottom: -31px;
    margin-left: 9px;
    border: 2px solid /*#096b72*/ #14c8ce;
    border-width: 0 2px 2px 2px;
    background: rgb(68, 67, 67);
  }
  
  /*utilities*/
  .wall-gap {
    position: absolute;
    background: rgb(68, 67, 67);
    width: 4px;
    height: 40px;
  }
  
  .door-hor {
    position: absolute;
    background: rgb(68, 67, 67);
    width: 45px;
    height: 35px;
    overflow: hidden;
    z-index: 20;
  }
  .door-hor:before {
    content: "";
    position: absolute;
    background: rgb(68, 67, 67);
    width: 2px;
    height: 31px;
    border: 1px solid /*#096b72*/ #14c8ce;
  }
  .door-hor:after {
    content: "";
    position: absolute;
    width: inherit;
    height: 80px;
    width: 130px;
    right: -1px;
    bottom: -0.5px;
    border-radius: 50%;
    border: 1px solid /*#096b72*/ #14c8ce;
  }
  
  .door-ver {
    position: absolute;
    background: rgb(68, 67, 67);
    height: 45px;
    width: 35px;
    overflow: hidden;
    z-index: 20;
  }
  .door-ver:before {
    content: "";
    position: absolute;
    background: rgb(68, 67, 67);
    height: 2px;
    width: 31px;
    border: 1px solid /*#096b72*/ #14c8ce;
  }
  .door-ver:after {
    content: "";
    position: absolute;
    width: inherit;
    width: 80px;
    height: 130px;
    right: -1px;
    bottom: 0.5px;
    border-radius: 50%;
    border: 1px solid /*#096b72*/ #14c8ce;
  }
  
  .door-sliding {
    position: absolute;
    background: linear-gradient(to right, /*#096b72*/ #14c8ce 0, /*#096b72*/ #14c8ce 8%, /*#fff*/ rgb(68, 67, 67) 8%, /*#fff*/ rgb(68, 67, 67) 92%, /*#096b72*/ #14c8ce 92%);
    width: 200px;
    height: 6px;
    transform: rotate(-44deg);
    bottom: 50%;
    margin-bottom: -9px;
    z-index: 15;
  }
  .door-sliding:before, .door-sliding:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 70%;
    border: 1px solid /*#096b72*/ #14c8ce;
  }
  .door-sliding:before {
    top: -1px;
  }
  .door-sliding:after {
    right: 0;
    bottom: 0;
  }
  
  .window-hor {
    position: absolute;
    top: -6px;
    height: 6px;
    border: 2px solid /*#096b72*/ #14c8ce;
    width: 80px;
    background: #e2f0f1;
    z-index: 10;
  }
  
  .window-ver {
    position: absolute;
    right: -6px;
    top: 8px;
    height: 140px;
    border: 2px solid /*#096b72*/ #14c8ce;
    width: 6px;
    background: #e2f0f1;
  }
  
  .vanity {
    width: 90px;
    height: 30px;
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
    bottom: -2px;
    right: -2px;
  }
  .vanity:before {
    content: "";
    position: absolute;
    border: 1px solid /*#096b72*/ #14c8ce;
    box-shadow: 0 0 0 2px /*#fff*/ black, 0 0 0 3px /*#096b72*/ #14c8ce;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 5px;
    left: 50%;
    margin-left: -7.5px;
  }
  
  .toilet {
    width: 30px;
    height: 8px;
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
    bottom: -2px;
    left: 40px;
  }
  .toilet:after {
    content: "";
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
    height: 22px;
    width: 20px;
    border-radius: 20px 20px 0 0;
    top: -26px;
    left: 50%;
    margin-left: -12px;
  }
  
  .bathtub {
    width: 110px;
    height: 48px;
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
    top: -2px;
    left: -2px;
  }
  .bathtub:before {
    content: "";
    position: absolute;
    width: 85px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid /*#096b72*/ #14c8ce;
    top: 10px;
    left: 10px;
  }
  
  .shower {
    width: 55px;
    height: 50px;
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
    top: -2px;
    left: -2px;
    border-radius: 0 0% 2000% 0;
  }
  .shower:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    border: 1px solid /*#096b72*/ #14c8ce;
    left: 6px;
    top: 6px;
  }
  
  .bed {
    width: 140px;
    height: 70px;
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
    right: -2px;
    top: 35px;
    border-radius: 8px 0 0 8px;
    background: rgb(68, 67, 67);
  }
  .bed .blanket {
    width: 55%;
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    border-right: 2px solid /*#096b72*/ #14c8ce;
    background: repeating-linear-gradient(to right, transparent, transparent 6px, rgba(9, 107, 114, 0.5) 6px, rgba(9, 107, 114, 0.5) 8px), repeating-linear-gradient(to bottom, transparent, transparent 6px, rgba(9, 107, 114, 0.5) 6px, rgba(9, 107, 114, 0.5) 8px);
  }
  .bed .blanket:before {
    content: "";
    position: absolute;
    right: -18px;
    width: 0;
    height: 100%;
    border-right: 2px solid /*#096b72*/ #14c8ce;
  }
  .bed .pillow {
    width: 25px;
    border: 2px solid /*#096b72*/ #14c8ce;
    height: 40px;
    border-radius: 6px;
    right: 8px;
    top: 14px;
    position: absolute;
  }
  
  .bed-table {
    width: 30px;
    height: 30px;
    top: -2px;
    right: -2px;
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
  }
  
  .table {
    width: 90px;
    height: 15px;
    bottom: -2px;
    right: 20px;
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
  }
  .table:before {
    content: "";
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
    width: 20px;
    height: 16px;
    top: -20px;
    left: 50%;
    margin-left: -10px;
    border-radius: 40px 40px 0 0;
    background: linear-gradient(to bottom, transparent 0, transparent 50%, /*#096b72*/ #14c8ce 50%, /*#096b72*/ #14c8ce 60%, transparent 60%);
  }
  
  .sofa, .sofa-des {
    width: 130px;
    height: 40px;
    bottom: -2px;
    right: 20px;
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
    border-radius: 8px 8px 0 0;
  }
  .sofa:before, .sofa-des:before {
    content: "";
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
    border-width: 0 2px 2px;
    width: 80%;
    height: 70%;
    left: 8%;
    border-radius: 0 0 4px 4px;
    background: rgb(68, 67, 67);
  }

  .sofa-des{
    bottom: 97px;
    right: -47px;
    transform: rotate(-90deg);
  }

  .sofa:after {
    content: "";
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
    width: 30px;
    height: 30px;
    transform: rotate(60deg);
    left: -50px;
    bottom: 50px;
    border-radius: 6px;
  }

  .sofa-corner:after {
    content: "";
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
    width: 30px;
    height: 30px;
    transform: rotate(25deg);
    left: 95px;
    bottom: -198px;
    border-radius: 6px;
  }

  .coffee-table,
  .patio-table, 
  .corner-table {
    width: 40px;
    height: 40px;
    bottom: 60px;
    right: 80px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
    background: rgb(68, 67, 67);
  }
  
  .corner-table{
    width: 18px;
    height: 18px;
    bottom: -158px;
    right: 263px;
  }

  .panel-solar {
    width: 12%;
    left: 205px;
    position: absolute;
    top: 16px;
    height: 12%;
    background: repeating-linear-gradient(to right, transparent, transparent 1px, white 6px, white 7px), repeating-linear-gradient(to bottom, transparent, transparent 6px, white 6px, white 7px), rgb(78, 77, 77);
    z-index: 25;
  }

  .patio-table {
    width: 30px;
    height: 30px;
    bottom: -45px;
    left: 99px;
    z-index: 25;
  }
  
  .patio-chair {
    width: 34px;
    height: 26px;
    bottom: -84px;
    left: 89px;
    border-radius: 20px 20px 0 0;
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
    z-index: 25;
    transform: rotate(190deg);
  }
  .patio-chair:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 82%;
    border-radius: inherit;
    background: rgb(68, 67, 67);
    bottom: 0;
    left: 10%;
    border: 1px solid /*#096b72*/ #14c8ce;
    border-width: 1px 1px 0;
  }
  .patio-chair:nth-child(5) {
    transform: rotate(102deg);
    bottom: -41px;
    left: 140px;
  }
  
  .manguera1 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #2b73fa;
    background: #2b73fa;
    bottom: 85px;
    right: -97px;  
    z-index: 25;
  }
  .manguera2 {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    position: absolute;
    background: #2b73fa;
    border: 1px solid rgba(255, 255, 255, 0.657);
    bottom: 88px;
    right: -94px;
    z-index: 25;
  }
  .manguera3 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    background: #2b73fa;
    border: 1px solid rgba(255, 255, 255, 0.657);
    bottom: 90px;
    right: -92px;
    z-index: 25;
  }
  .manguera4 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    background: #2b73fa;
    border: 1px solid rgba(255, 255, 255, 0.657);
    bottom: 92px;
    right: -90px;
    z-index: 25;
  }
  .manguera5 {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    background: #2b73fa;
    border: 1px solid rgba(255, 255, 255, 0.657);
    bottom: 95px;
    right: -88px;
    z-index: 25;
  }
  .manguera6 {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    background: #2b73fa;
    border: 1px solid rgba(255, 255, 255, 0.657);
    bottom: 97px;
    right: -86px;
    z-index: 25;
  }

  .patio .cesped{  
    background: #0f6b077a;
    width: 78%;
    height: 161px;
    position: absolute;
    z-index: 20;
    transform: rotate(-44deg);
    bottom: 18px;
    margin-left: 9px;
    border-width: 0 2px 2px 2px;
    left: 119px;
  }

  .tv-set {
    width: 140px;
    height: 20px;
    top: -2px;
    right: 35px;
    border-radius: 0 0 50% 50%;
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
  }
  
  .rug {
    width: 150px;
    height: 110px;
    top: 25px;
    right: 35px;
    position: absolute;
    background: rgba(13, 162, 167, 0.294);
  }
  
  .name {
    font: 600 14px/1 "Poppins", sans-serif;
    text-transform: uppercase;
    color: /*#096b72*/ #14c8ce;
    position: absolute;
    text-align: center;
    z-index: 30;
  }
  
  .titulo{
    font: 600 14px/1 "Poppins", sans-serif;
    text-transform: uppercase;
    color: /*#096b72*/ #14c8ce;
    text-align: center;
    z-index: 30;
    margin: 1em auto;
    font-size: 82px;
  }
  .office .name {
    width: 200%;
    transform: rotate(-90deg);
    bottom: 45%;
    left: -38px;
  }
  
  .kitchen .name {
    top: 28%;
    left: 30%;
  }
  
  .bathroom-2 .name {
    top: 45px;
    left: 40px;
  }
  
  .bedroom-2 .name {   
    bottom: 38px;
    left: 41px;
  }
  
  .living-room .name {
    top: 196px;
    left: 37%;
  }
  
  .bedroom-1 .name {
    width: 100px;
    top: 25px;
    left: 130px;
  }
  
  .bathroom-1 .name {
    bottom: 40px;
    right: 50px;
  }
  
  .office .name {
    width: 80px;
    top: 45%;
    left: 30%;
  }
  
  .patio .name {
    right: 221px;
    top: 29%;
  }

  .pasillo1 .name {
    top: 45%;
    left: 60%;
  }

  .tooltip {
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: /*#fff*/ black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 60;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .tooltip.bottom .tooltiptext::after{    
    bottom: 100%;
    border-color: transparent transparent #555 transparent;
  }
  .tooltip.top .tooltiptext::after{
    top: 100%;
    border-color: #555 transparent transparent transparent;
  }
  
  .glowButton {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    background-image: linear-gradient(160deg, #ff0000, #ec008c);
    cursor: pointer;
    box-shadow: 0 0 0 0 #ec008c, 0.5rem 0.5rem 30px #13092d;
    -webkit-transition: box-shadow 0.6s;
    transition: box-shadow 0.6s; 
    text-align: center;
    display: none;
  }

  .glowButton:hover {
    box-shadow: 0 0 60px 2px #ec008c, 0.5rem 0.5rem 30px #13092d;
  }

  .glowButton:after {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    border-radius: 30px;
    background-image: linear-gradient(170deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    pointer-events: none;
  }
  
  #wind-ver{
    left: -10px;
    top: 54px;
  }
  #wind-hor{
    left: 27px;
    top: -10px;
  }
  #wind-bed1{
    left: 84px;
    top: -10px;
  }
  #wind-bed2{
    left: 49px;
    top: -10px;
  }
  #eolic{
    left: 240px;
    top: 157px;
    z-index: 20;
  }

  .kitchen #lavadora{
    left: 9px;
    top: 7px;
  }
  .kitchen #lavaplatos{
    left: 5px;
    top: 7px;
  }
  .kitchen #horno{
    left: 7px;
    top: 7px;
  }
  .kitchen #vitro{
    left: 18px;
    top: 7px;
  }
  .kitchen #micro{
    left: 5px;
    top: 7px;
  }
  .kitchen #fregadero{
    left: 3px;
    top: 15px;
  }
  .kitchen #nevera{
    left: 4px;
    top: 3px;
  }
  .kitchen #temp{
    left: 56px;
    top: 209px;
    z-index: 20;
  }
  .kitchen #bulb{
    left: 90px;
    top: 111px;
    z-index: 20;
  }
  .kitchen #puerta1{
    left: 200px;
    top: 199px;
    z-index: 22;
  }
  .kitchen #puerta2{
    left: 14px;
    top: 220px;
    z-index: 22;
  }
  

  .bathroom-1 #banera{
    left: 41px;
    top: 12px;
  }
  .bathroom-1 #wc{
    left: 2.5px;
    top: -18px;
    z-index: 2;
  }
  .bathroom-1 #lavabo{
    left: 34px;
  }  
  .bathroom-1 #temp{
    left: 150px;
    top: 28px;
    z-index: 20;
  }
  .bathroom-1 #bulb{
    left: 114px;
    top: 4px;
    z-index: 20;
  }
  .bathroom-1 #puerta1{
    left: 145px;
    top: -8px;
    z-index: 20;
  }
  .bathroom-1 #puerta2{
    left: -8px;
    top: 70px;
    z-index: 20;
  }
  
  .bathroom-2 #ducha{
    left: 10px;
    top: 8px;
  }
  .bathroom-2 #wc{
    left: 2.7px;
    top: -18px;
    z-index: 2;
  }
  .bathroom-2 #lavabo{
    left: 13px;
    top: 2px;
  }
  .bathroom-2 #temp{
    left: 8px;
    top: 69px;
    z-index: 20;
  }
  .bathroom-2 #bulb{
    left: 59px;
    top: 16px;
    z-index: 20;
  }
  .bathroom-2 #puerta{
    left: 54px;
    top: 78px;
    z-index: 20;
  }

  .living-room #tv{
    left: 59px;
  }
  .living-room #temp{
    left: 134px;
    top: 2px;
    z-index: 20;
  }
  .living-room #bulb{
    left: 168px;
    top: 85px;
    z-index: 20;
  }
  .living-room #puerta1{
    left: 95px;
    top: -7px;
    z-index: 20;
  }
  .living-room #puerta2{
    left: 65px;
    top: 198px;
    z-index: 20;
  }

  .pasillo1 #temp{
    left: 333px;
    top: 36px;
  }
  .pasillo1 #bulb{
    left: 403px;
    top: 36px;
  }
  .pasillo1 #puerta{
    left: -4px;
    top: 37px;
    z-index: 20;
  }
  .bedroom-1 #temp{
    left: 260px;
    top: 3px;
    z-index: 20;
  }
  .bedroom-1 #bulb{
    top: 39px;
    z-index: 20;
  }
  .bedroom-1 #puerta{
    left: 301px;
    top: -9px;
    z-index: 20;
  }
  .bedroom-2 #temp{
    left: 2px;
    top: 94px;
    z-index: 20;
  }
  .bedroom-2 #bulb{
    left: 185px;
    top: 2px;
    z-index: 20;
  }
  .bedroom-2 #puerta{
    left: -7px;
    top: 135px;
    z-index: 20;
  }
  .office #temp{
    left: 63px;
    top: 209px;
    z-index: 20;
  }
  .office #bulb{
    left: 63px;
    top: 2px;
    z-index: 20;
  }
  .office #puerta{
    left: 106px;
    top: 220px;
    z-index: 23;
  }

  .patio #manguera{
    left: -12px;
    top: -11px;
  }
  .patio #temp{
    left: 10px;
    top: 199px;
  }
  .patio #bulb{
    bottom: -41px;
    left: 103.5px;
    z-index: 25;
  }
  .patio #puerta{
    top: 102px;
    left: 89.5px;
    z-index: 25;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /*Filtros*/
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }  
  .btn:hover {
    background-color: #ddd;
  }  
  .btn.active {
    background-color: #666;
    color: white;
  }
  .glowButton.show{
    display: initial;
  }

  #myBtnContainer{
    text-align: center;
  }
  /*dropdown menu*/
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}