<!DOCTYPE html>
<html> 
  <head> 
    <link rel="stylesheet" href="../css/plano.css">
    <link rel="stylesheet" href="../css/dropdown.css">
    <link rel="stylesheet" href="../css/modal.css">
    <link rel="stylesheet" href="../css/filtros.css">
    <link rel="stylesheet" href="../css/glowbutton.css">
    <link rel="stylesheet" href="../css/tooltip.css">
    <link rel="stylesheet" href="../css/office.css">
    <link rel="stylesheet" href="../css/patio.css">
    <link rel="stylesheet" href="../css/salon.css">
    <link rel="stylesheet" href="../css/kitchen.css">
    <link rel="stylesheet" href="../css/banos.css">
    <link rel="stylesheet" href="../css/habs.css">
    <link rel="stylesheet" href="../css/pasillo.css">
           
        



    <header style="width: 100%;text-align: center;margin-bottom: 2.3em;">
      <h1 class= "titulo"><a href='../../graficos/termometro/termometro.html'>SMART HOME</a><img src= "../../img/LOGO_pitsaluma_fondo_negro.jpg" alt="PitsaLuma LOGO" height=100px/></h1>
      <!-- Trigger/Open The Modal -->
      <button id="myBtn">Ayuda</button>
      <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>Some text in the Modal..</p>
        </div>
      </div>
    </header> 
  </head>

  <body>    
  
    <div id="botones">
      <div id="myBtnContainer">
        <button class="btn active" onclick="filterSelection('all')"> Todo</button>
        <button class="btn" onclick="filterSelection('sens')"> Sensores</button>
        <button class="btn" onclick="filterSelection('dontknow')"> Dont Know</button>
        <button class="btn" onclick="filterSelection('electr')"> Electrodomesticos</button>
        <button class="btn" onclick="filterSelection('gener')"> Generacion de energia</button>
      </div>

      <!-- dropdown -->
      <div class="dropdown">
        <button class="dropbtn"><i class="fas fa-house-user" style="padding: 4px"></i></button>
        <div class="dropdown-content">
          <a href="#despacho">Despacho</a>
          <a href="#cocina">Cocina</a>
          <a href="#salon">Salon</a>
          <a href="#hab1">Habitacion 1</a>
          <a href="#hab2">Habitacion 2</a>
          <a href="#ba1">Bano 1</a>
          <a href="#ba2">Bano 2</a>
          <a href="#pat">Patio</a>
          <a href="#pas">Pasillo</a>
        </div>
      </div>
    </div>
    <div id="parent">
      <div id="KPIs">
        <div id="thermo"></div> 
        <script src='http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js'></script>
        <script src="../../graficos/termometro/termometro.js"></script>
      </div>
      <div class="main-content">
                
        <div class="office">
          <div class="name">despacho</div>
          <div class="table"></div>
          <div class="sofa-des"></div>
          <div class="door-hor"></div>
          <div class="window-ver">
            <div class="glowButton tooltip sens" id="wind-ver"><span class="tooltiptext">Tooltip text</span><i class="fab fa-windows" style="padding: 4px"></i></div>
          </div>
           <div class="glowButton tooltip sens" id="puerta"><i class="tooltiptext"></i><i class="fas fa-door-closed" style="padding: 4px"></i></div>
          <div class="glowButton tooltip sens" id="temp"><span class="tooltiptext">Tooltip text</span><i class="fas fa-temperature-low" style="padding: 4px"></i></div>
          <div class="glowButton tooltip sens" id="bulb"><span class="tooltiptext">Tooltip text</span><i class="fas fa-lightbulb" style="padding: 4px"></i></div>
        </div>

        <div class="kitchen">
          <div class="door-ver"></div>
          <div class="door-ver"></div>
          <div class="window-hor">
            <div class="glowButton tooltip sens" id="wind-hor"><i class="fab fa-windows" style="padding: 4px"></i></div>
          </div>
          <div class="rug"></div>

          <div class="ref utility" name="Nevera">
            <div class="glowButton tooltip electr" id="nevera"><i class="fas fa-egg" style="padding: 4px"></i></div>
            
          </div>
          
          <div class="lavadora utility" name="Lavadora">
            <div class="glowButton tooltip electr" id="lavadora"><i class="fas fa-tshirt" style="padding: 4px"></i></div>
          </div>

          <div class="lavaplatos utility" name="Lavaplatos">
            <div class="glowButton tooltip electr" id="lavaplatos"><i class="fas fa-utensils" style="padding: 4px"></i></div>
          </div>
        
          <div class="horno">
            <div class="glowButton tooltip electr" id="horno"><i class="fas fa-mitten" style="padding: 4px"></i></div>
          </div>
          
          <div class="bordes-stove">
            <div class="stove utility" name="Vitroceramica"></div>
            <div class="glowButton tooltip electr" id="vitro"><i class="fab fa-gripfire" style="padding: 4px"></i></div>
          </div>

          <div class="microwave utility">
            <div class="glowButton tooltip electr" id="micro"><i class="far fa-newspaper" style="padding: 4px"></i></div>
          </div>
        
          <div class="sink utility" name="Fregadero">
            <div class="sink-tap-1"></div>
            <div class="sink-tap-2"></div>
            <div class="glowButton tooltip sens electr" id="fregadero"><i class="fas fa-sink" style="padding: 4px"></i></div>
          </div>
          
          <div class="island">
            <div class="chair"></div>
          </div>
          <div class="name">cocina</div>
          <div class="glowButton tooltip sens" id="temp"><i class="fas fa-temperature-low" style="padding: 4px"></i></div>
          <div class="glowButton tooltip sens" id="bulb"><i class="fas fa-lightbulb" style="padding: 4px"></i></div>

          <div class="glowButton tooltip sens" id="puerta1"><i class="fas fa-door-closed" style="padding: 4px"></i></div>
          <div class="glowButton tooltip sens" id="puerta2"><i class="fas fa-door-closed" style="padding: 4px"></i></div>
        </div>

        <div class="bathroom-1">
          <div class="door-ver"></div>
          <div class="door-ver"></div>
          <div class="window-hor">
            <div class="glowButton tooltip sens" id="wind-hor"><i class="fab fa-windows" style="padding: 4px"></i></div>
          </div>
          <div class="rug"></div>
          <div class="name">bano 1</div>

          <div class="bathtub utility" name="Bañera">
            <div class="glowButton tooltip dontknow" id="banera"><i class="fas fa-bath" style="padding: 4px"></i></div>
          </div>
          <div class="toilet utility" name="WC">
            <div class="glowButton tooltip dontknow" id="wc"><i class="fas fa-toilet" style="padding: 4px"></i></div>        
          </div>
          <div class="vanity utility" name="Lavabo">
            <div class="glowButton tooltip sens" id="lavabo"><i class="fas fa-tint" style="padding: 4px"></i></div>
          </div>      
          <div class="glowButton tooltip sens" id="temp"><i class="fas fa-temperature-low" style="padding: 4px"></i></div>
          <div class="glowButton tooltip sens" id="bulb"><i class="fas fa-lightbulb" style="padding: 4px"></i></div>   
          <div class="glowButton tooltip sens" id="puerta1"><i class="fas fa-door-closed" style="padding: 4px"></i></div>
          <div class="glowButton tooltip sens" id="puerta2"><i class="fas fa-door-closed" style="padding: 4px"></i></div>

        </div>

        <div class="bathroom-2">
          <div class="window-hor">
            <div class="glowButton tooltip sens" id="wind-hor"><i class="fab fa-windows" style="padding: 4px"></i></div>
          </div>
          <div class="door-hor"></div>
          <div class="rug"></div>
          <div class="name">bano 2</div>

          <div class="shower utility" name="Ducha">
            <div class="glowButton tooltip dontknow" id="ducha"><i class="fas fa-shower" style="padding: 4px"></i></div>
          </div>
          <div class="toilet utility" name="WC">
            <div class="glowButton tooltip dontknow" id="wc"><i class="fas fa-toilet" style="padding: 4px"></i></div>        
          </div>
          <div class="vanity utility" name="Lavabo">
            <div class="glowButton tooltip sens" id="lavabo"><i class="fas fa-tint" style="padding: 4px"></i></div>
          </div>       
          <div class="glowButton tooltip sens" id="temp"><i class="fas fa-temperature-low" style="padding: 4px"></i></div>
          <div class="glowButton tooltip sens" id="bulb"><i class="fas fa-lightbulb" style="padding: 4px"></i></div>  
          <div class="glowButton tooltip sens" id="puerta"><i class="fas fa-door-closed" style="padding: 4px"></i></div>
        </div>
        
        <div class="bedroom-1">
          <div class="rug"></div>
          <div class="door-hor"></div>
          <div class="window-hor">
            <div class="glowButton tooltip sens" id="wind-bed1"><i class="fab fa-windows" style="padding: 4px"></i></div>
          </div>
          <div class="bed">
            <div class="blanket"></div>
            <div class="pillow"></div>
            <div class="pillow"></div>
          </div>
          <div class="bed-table"></div>
          <div class="bed-table"></div>
          <div class="name">habitacion 1</div>
          <div class="glowButton tooltip sens" id="temp"><i class="fas fa-temperature-low" style="padding: 4px"></i></div>
          <div class="glowButton tooltip sens" id="bulb"><i class="fas fa-lightbulb" style="padding: 4px"></i></div>
          <div class="glowButton tooltip sens" id="puerta"><i class="fas fa-door-closed" style="padding: 4px"></i></div>
        </div>

        <div class="bedroom-2">
          <div class="door-ver"></div>
          <div class="window-hor">
            <div class="glowButton tooltip sens" id="wind-bed2"><i class="fab fa-windows" style="padding: 4px"></i></div> 
          </div>
          <div class="bed-table"></div>
          <div class="bed">
            <div class="blanket"></div>
            <div class="pillow"></div>
          </div>
          <div class="table"></div>
          <div class="name">habitacion 2</div>
          <div class="glowButton tooltip sens" id="temp"><i class="fas fa-temperature-low" style="padding: 4px"></i></div>
          <div class="glowButton tooltip sens" id="bulb"><i class="fas fa-lightbulb" style="padding: 4px"></i></div>
          <div class="glowButton tooltip sens" id="puerta"><i class="fas fa-door-closed" style="padding: 4px"></i></div>
        </div>

        <div class="living-room">
          <div class="door-ver"></div>
          <div class="door-ver"></div>
          <div class="rug"></div>
          <div class="window-ver">
            <div class="glowButton tooltip sens" id="wind-ver"><i class="fab fa-windows" style="padding: 4px"></i></div>
          </div>
          <div class="sofa"></div>
          <div class="coffee-table"></div>
          <div class="corner-table"></div>
          <div class="sofa-corner"></div>
          <div class="name">salon</div>

          <div class="tv-set utility" name="Television">
            <div class="glowButton tooltip electr" id="tv"><i class="fas fa-tv" style="padding: 4px"></i></div>
          </div>       
          <div class="glowButton tooltip sens" id="temp"><i class="fas fa-temperature-low" style="padding: 4px"></i></div>
          <div class="glowButton tooltip sens" id="bulb"><i class="fas fa-lightbulb" style="padding: 4px"></i></div>
          <div class="glowButton tooltip sens" id="puerta1"><i class="fas fa-door-closed" style="padding: 4px"></i></div>
          <div class="glowButton tooltip sens" id="puerta2"><i class="fas fa-door-closed" style="padding: 4px"></i></div>
        </div>

        <div class="pasillo1">
          <div class="name">pasillo</div>
          <div class="door-ver"></div>
          <div class="door-ver"></div>
          <div class="glowButton tooltip sens" id="temp"><i class="fas fa-temperature-low" style="padding: 4px"></i></div>
          <div class="glowButton tooltip sens" id="bulb"><i class="fas fa-lightbulb" style="padding: 4px"></i></div>
          <div class="glowButton tooltip sens" id="puerta"><i class="fas fa-door-closed" style="padding: 4px"></i></div>
        </div> 

        <div class="pasillo2"></div> 
      
        <div class="parte-abajo"></div>

        <div class="patio">
          <div class="door-sliding"></div>
          <div class="real-patio">
            <div class="name">patio</div>   
          </div> 
          <div class="patio-table"></div>
          <div class="patio-chair"></div>
          <div class="patio-chair"></div>
          <div class="cesped"></div>
          <div class="manguera1 utility" name="Manguera"></div>     
          <div class="manguera2"></div>   
          <div class="manguera3"></div>       
          <div class="manguera4"></div>   
          <div class="manguera5"></div>   
          <div class="manguera6">
            <div class="glowButton tooltip sens" id="manguera"><i class="fas fa-faucet" style="padding: 4px"></i></div>
          </div>   
          <div class="panel-solar utility" name="Panel solar">
            <div class="glowButton tooltip gener"><i class="fas fa-solar-panel" style="padding: 4px"></i></div>
          </div> 
          <div class="glowButton tooltip gener" id="eolic"><i class="fas fa-fan" style="padding: 4px"></i></div> 
          <div class="glowButton tooltip sens" id="temp"><i class="fas fa-temperature-low" style="padding: 4px"></i></div>
          <div class="glowButton tooltip sens" id="bulb"><i class="fas fa-lightbulb" style="padding: 4px"></i></div>
          <div class="glowButton tooltip sens" id="puerta"><i class="fas fa-door-closed" style="padding: 4px"></i></div>
        </div>
      </div>
    </div>
    


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <script src="../js/tooltip.js"></script>
    <script src="../js/modal.js"></script>
    <script src="../js/filtro.js"></script>

    
  </body>

  <footer style="color:white; text-align:center">
      PitsaLuma &copy; All Rights Reserved
  </footer>   
</html>
    
    