.office {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    border: 7px solid /*#096b72*/ #14c8ce;
    height: 131.5%;
    width: 187%;
    border-width: 0 4px 4px 0;
    background: rgb(68, 67, 67);
  }
  .office .door-hor {
    top: 208px;
    left: 93px;
    transform: rotate(180deg);
  }
  .office .window-ver{
      position: absolute;
      right: 146px;
      top: 20%;
      height: 140px;
      border: 2px solid /*#096b72*/ #14c8ce;
      width: 6px;
      background: #e2f0f1;
  }
  .office .table{
    width: 90px;
    height: 15px;
    top: 0%;
    right: 25px;
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
    transform: rotate(180deg);
  }
  .office .name {
    width: 200%;
    transform: rotate(-90deg);
    left: -89px;
    top: 109px;
  }
  .office #temp{
    left: 63px;
    top: 209px;
    z-index: 20;
  }
  .office #bulb{
    left: 63px;
    top: 2px;
    z-index: 20;
  }
  .office #puerta{
    left: 106px;
    top: 220px;
    z-index: 23;
  }