/* Botones */
button{
    background-color: rgb(76, 149, 223);
    border: 2px solid rgb(46, 112, 179);
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.5s;
}
button:hover {
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.dropdown-menu{
    left: auto !important;
    right: 0 !important;
}
#todologin{
    display: grid;
    grid-template-columns: 520px; 
    grid-template-rows: 250px 80px;
    grid-row-gap: 11px;
    justify-content: center;
    text-align: center;
}

#div_sesion {
    width: 100%;    
    border: 2px solid rgb(46, 45, 45);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 3px solid #14c8ce;
}
#registerfrase{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#email, #password{
    width: 70%;
}
.session_email{    
    color: white;
    margin: 0px;
}
.session_passw{
    color: white;
    margin: 0px;
}
#login{
    height: 100%;
    vertical-align: sub;
    padding-top: 5%;
    margin-left: 3%;
    margin-right: 10%;
}