#KPIs{
    background: rgb(68, 67, 67);
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  
    display: grid;
    grid-template-columns: 146px 169px;
    grid-template-rows: 155px 136px 362px;
    grid-column-gap: 11px;
    grid-row-gap: 11px;
}
#graficos_landing{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: 212px 90px;
    grid-template-rows: 21px 63px 161px;
    grid-column-gap: 11px;
    grid-row-gap: 11px;
}

#fillgauge2{
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 22px 155px 155px;
    grid-row-gap: 15px;
}
#infoDia{
    text-align: center;
    padding: 10px;
    border: 3px solid white;
    height: 264px;
    padding-top: 19px;
    background: grey
}
#anomalias{
    text-align: center;
    padding: 10px;
    border: 5px solid orange;
    background: orange;
    height: 106px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
#thermo{
    height: 186px;
    width: 90px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}
#infoPresion{
    text-align: center;
    padding: 10px;
    padding-top: 17px;
    background: grey;
    border: 3px solid white;
}
#selectButton{
    font-size: 18px;
}