.patio {
    grid-row: 4 / span 2;
    grid-column: 7 / span 1;
    margin-top: 4px;
    position: relative;
  }
  .patio:before {
    content: "";
    width: 140%;
    height: 4px;
    background: /*#096b72*/ #14c8ce;
    bottom: 50%;
    left: -21%;
    transform: rotate(-44deg);
    position: absolute;
  }

  .patio .real-patio {
    width: 139%;
    height: 162px;
    position: absolute;
    z-index: 0;
    transform: rotate(-44deg);
    bottom: -31px;
    margin-left: 9px;
    border: 2px solid /*#096b72*/ #14c8ce;
    border-width: 0 2px 2px 2px;
    background: rgb(68, 67, 67);
  }
  .patio-table {
    width: 30px;
    height: 30px;
    bottom: -45px;
    left: 99px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
    background: rgb(68, 67, 67);
  }  
  .patio-chair {
    width: 34px;
    height: 26px;
    bottom: -84px;
    left: 89px;
    border-radius: 20px 20px 0 0;
    position: absolute;
    border: 2px solid /*#096b72*/ #14c8ce;
    z-index: 25;
    transform: rotate(190deg);
  }
  .patio-chair:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 82%;
    border-radius: inherit;
    background: rgb(68, 67, 67);
    bottom: 0;
    left: 10%;
    border: 1px solid /*#096b72*/ #14c8ce;
    border-width: 1px 1px 0;
  }
  .patio-chair:nth-child(5) {
    transform: rotate(102deg);
    bottom: -41px;
    left: 140px;
  }
  .manguera1 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #2b73fa;
    background: #2b73fa;
    bottom: 85px;
    right: -97px;  
    z-index: 25;
  }
  .manguera2 {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    position: absolute;
    background: #2b73fa;
    border: 1px solid rgba(255, 255, 255, 0.657);
    bottom: 88px;
    right: -94px;
    z-index: 25;
  }
  .manguera3 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    background: #2b73fa;
    border: 1px solid rgba(255, 255, 255, 0.657);
    bottom: 90px;
    right: -92px;
    z-index: 25;
  }
  .manguera4 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    background: #2b73fa;
    border: 1px solid rgba(255, 255, 255, 0.657);
    bottom: 92px;
    right: -90px;
    z-index: 25;
  }
  .manguera5 {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    background: #2b73fa;
    border: 1px solid rgba(255, 255, 255, 0.657);
    bottom: 95px;
    right: -88px;
    z-index: 25;
  }
  .manguera6 {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    background: #2b73fa;
    border: 1px solid rgba(255, 255, 255, 0.657);
    bottom: 97px;
    right: -86px;
    z-index: 25;
  }

  .patio .cesped{  
    background: #0f6b077a;
    width: 78%;
    height: 161px;
    position: absolute;
    z-index: 20;
    transform: rotate(-44deg);
    bottom: 18px;
    margin-left: 9px;
    border-width: 0 2px 2px 2px;
    left: 119px;
  }
  .patio .name {
    right: 221px;
    top: 29%;
  }.patio #manguera{
    left: -12px;
    top: -11px;
  }
  .patio #temp{
    left: 10px;
    top: 199px;
  }
  .patio #bulb{
    bottom: -41px;
    left: 103.5px;
    z-index: 25;
  }
  .patio #puerta{
    top: 102px;
    left: 89.5px;
    z-index: 25;
  }
  #eolic{
    left: 240px;
    top: 157px;
    z-index: 26;
  }
  .patio #humedad{
    top: 180px;
    left: 215.5px;
    z-index: 27;
  }
  .patio #lluvia{
    top: 202px;
    left: 192.5px;
    z-index: 28;
  }
  .patio #viento{
    top: 136px;
    left: 262.5px;
    z-index: 25;
  }
