<!--Dropdown para navegar por las habitaciones-->
<button class="dropbtn"><i class="fas fa-house-user" style="padding: 4px"></i></button>
<div class="dropdown-content drop-all" id="drop_habs">
    <button class="btn" id="boton100"> <a href="/">Casa</a></button>
    <button class="btn" id="boton100"> <a href="dash_despacho">Despacho</a></button>
    <button class="btn" id="boton100"> <a href="dash_cocina">Cocina</a></button>
    <button class="btn" id="boton100"> <a href="dash_salon">Salón</a></button>
    <button class="btn" id="boton100"> <a href="dash_hab1">Habitación 1</a></button>
    <button class="btn" id="boton100"> <a href="dash_hab2">Habitación 2</a></button>
    <button class="btn" id="boton100"> <a href="dash_bano1">Baño 1</a></button>
    <button class="btn" id="boton100"> <a href="dash_bano2">Baño 2</a></button>
    <button class="btn" id="boton100"> <a href="dash_patio">Patio</a></button>
    <button class="btn" id="boton100"> <a href="dash_pasillo">Pasillo</a></button>
</div>